# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
backend/venv/
backend/urls.db

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
